# Python

## Variable and Basic Data Types

### Variable 
**variable** is a name or symbol that is used for saving a value.

In [1]:
name = "Muhamad Rizki Arif Fadillah"
age = 24
tall = 169.9
handsome = True

In [2]:
name , age , tall , handsome

('Muhamad Rizki Arif Fadillah', 24, 169.9, True)

We can use numbers as variables. but we must start it with '_'.

In [3]:
_123 = 123
_321 = "three,two,one"
_123,_321

(123, 'three,two,one')

Creating multiple variables for multiple values.

In [4]:
a,b,c,d = "Kibo",23,165.5,False
a,b,c,d

('Kibo', 23, 165.5, False)

### Basic data types
1. String <br>
2. Numerical <br>
3. Boolean

#### String
**String** is a data type used to represent a character sequence that starts with double quotes ("value") or single quotes ('value').

In [5]:
#Without variable.
"Kibo",'Rizki'

('Kibo', 'Rizki')

In [6]:
first_name = "Muhamad Rizki"
last_name = 'Arif Fadillah'
first_name,last_name

('Muhamad Rizki', 'Arif Fadillah')

In [7]:
#Check data type
type(first_name),type(last_name)

(str, str)

#### Numeric
**Numeric** is data types used to represent and manipulate numbers, and it has two data types. <br>
The first is **int**, it's used for number that doesn't have any decimal.<br>
The second is **float**, it's used for number that has decimal.

In [8]:
#The int without variable
11,8,2023

(11, 8, 2023)

In [9]:
age = 24
age

24

In [10]:
type(age),type(11)

(int, int)

In [11]:
#The float without variable
70.9,101.1

(70.9, 101.1)

In [12]:
weight = 65.3
weight

65.3

In [13]:
type(weight),type(99.9)

(float, float)

#### Boolean
Boolean is data type that has two values, **True** and **False**.

In [14]:
#Boolean without variable
True,False

(True, False)

In [15]:
am_i_handsome = True
am_i_handsome

True

In [16]:
type(am_i_handsome),type(False)

(bool, bool)

## Operators

### Arithmetic operators.
**Arithmetic operators** are symbol or characters used to perform various mathematical operations on numeric numbers, and it has 7 operations.
<img src="https://camo.githubusercontent.com/d2a7569c8ec2def8c13e9936b56e37b04bb28905c311278976ed6a1b35158d23/68747470733a2f2f7465636876696476616e2e636f6d2f7475746f7269616c732f77702d636f6e74656e742f75706c6f6164732f73697465732f322f323031392f31322f707974686f6e2d61726974686d657469632d6f70657261746f72732d312e6a7067" width="500" height="600">

In [17]:
# Addition
x = 5
y = 7
30+50,x+y

(80, 12)

In [18]:
#Subtraction
25-5,x-y

(20, -2)

In [19]:
#Multipication
5*5,x*y

(25, 35)

In [20]:
#Division will result float value
40/3,y/x

(13.333333333333334, 1.4)

In [21]:
#Modulo
40%7,y%x

(5, 2)

In [22]:
#Exponantition
5**5,x**y

(3125, 78125)

In [23]:
#Floor division will reslut int value
80//3,y//x

(26, 1)

### Assignment Operators.
**Assignment Operators** are symbols or characters used to assign values to variables.
<br>
<img src="https://camo.githubusercontent.com/a570ac18fd933ef330e1acbe57689dd242fd07a7dbdb3c66224ef097cfc304d7/68747470733a2f2f7465636876696476616e2e636f6d2f7475746f7269616c732f77702d636f6e74656e742f75706c6f6164732f73697465732f322f323031392f31322f507974686f6e2d41737369676e6d656e742d4f70657261746f72732e6a7067" width="500" height="600">

In [24]:
# Declare a variable. or assign
z = 50

In [25]:
z += 5
z

55

In [26]:
z -= 7
z

48

In [27]:
z *= 2
z

96

In [28]:
z /= 4
z

24.0

In [29]:
z %= 5
z

4.0

In [30]:
z **= 4
z

256.0

In [31]:
z //= 5
z

51.0

### Python relational operations
<br>
<img src="https://camo.githubusercontent.com/b4c60c05b509aa5fc1453315653098967bd1c8b4c4a67dd3cbf21261926d60f6/68747470733a2f2f7465636876696476616e2e636f6d2f7475746f7269616c732f77702d636f6e74656e742f75706c6f6164732f73697465732f322f323031392f31322f707974686f6e2d72656c6174696f6e616c2d6f70657261746f72732d312e6a7067" width="300" height="300">

In [32]:
#Declaring variables
x = 50
y = 45

In [33]:
#Greater than
f'Is {x} greater than {y} ? {x>y}'

'Is 50 greater than 45 ? True'

In [34]:
#Less than
f'Is {x} less than {y} ? {x<y}'

'Is 50 less than 45 ? False'

In [35]:
#Equal to 
f'Is {x} Equal to {y} ? {x==y}'

'Is 50 Equal to 45 ? False'

In [36]:
#Not Equal to
f'Is {x} not equal to {y} ? {x!=y}'

'Is 50 not equal to 45 ? True'

In [37]:
#Greater than or equal to
f'Is {x} greater than or equal to {y} ? {x>=y}'

'Is 50 greater than or equal to 45 ? True'

In [38]:
#Less than or equal to
f'Is {x} less than or equal to {y} ? {x<=y}'

'Is 50 less than or equal to 45 ? False'

### Logical Operator
<br>
<img src="https://camo.githubusercontent.com/d2b24264e93b3b23760614a0bc42396549250cff0e5197875b2379941af5719e/68747470733a2f2f312e62702e626c6f6773706f742e636f6d2f2d6b32374933634e42367a452f585954415a7633433037492f41414141414141414179302f4b6f625654484868434a5556706737443139486849346464726830495535474b67434c63424741735948512f73313630302f4c6f676963616c4f70657261746f72732e706e67" width="500" height="500">

In [39]:
#Declaring variables
x = True
y = False
x,y

(True, False)

In [40]:
# not
not x, not y

(False, True)

In [41]:
# and
x and x,y and x, y and y

(True, False, False)

In [42]:
# or
x or x,x or y, y or y

(True, True, False)

### Membership operations
<br>
<img src="https://camo.githubusercontent.com/315905ab8b1dee3feeeaf0209de97bbb425187b8c21b5a5a04ed130599f5585b/68747470733a2f2f692e7974696d672e636f6d2f76692f6f516b667542416b396c6f2f6d617872657364656661756c742e6a7067" width="600" height="600">

In [43]:
#string
name = "Muhamad Rizki Arif Fadillah"
if "Rizki" in name:
    print('Yes, Rizki is present in sentence')
else:
    print('No, Rizki is\'nt present in sentence')

Yes, Rizki is present in sentence

In [44]:
if "Rizki" not in name:
    print('Yes, Rizki is\'nt present in sentence')
else:
    print('No, Rizki is present in sentence')

No, Rizki is present in sentence

### Bitwise Operations
<img src=""

## Conditional statement

### If statement

In [45]:
age = 18
if age >= 18:
    print('You\'re adult')

You're adult

### If else statement

In [46]:
age = 17
if age >=18:
    print('You\'re Adult')
else:
    print('You\'re still teenager')

You're still teenager

### If elif else statement

In [47]:
grade = 70
if grade < 40:
    print('D')
elif grade < 60 and grade >=40:
    print('C')
elif grade <= 80 and grade >=60:
    print('B')
else:
    print('A')

B

### Nested if statement

In [48]:
value = 8
if value % 2 == 0:
    if value % 3 == 0:
        print('Divisible by two and three')
    print('Divisible by two but not by three')
else:
    print('Not divisible by two and three')

Divisible by two but not by three

### Tenary operations

In [49]:
result = "Even" if value % 2 == 0 else "Odd"
result

'Even'

## Looping statements

In [50]:
#for
for x in range(6):
    print(x)

0
1
2
3
4
5

In [51]:
for x in range(3,6):
    print(x)

3
4
5

In [52]:
for x in range(0,13,4):
    print(x)

0
4
8
12

In [53]:
#For in string
for x in "Muhamad":
    print(x)

M
u
h
a
m
a
d

In [54]:
#break statement
for x in range(10):
    print(x)
    if x == 6:
        break

0
1
2
3
4
5
6

In [55]:
#Continue statement
for x in range(8):
    if x == 6:
        continue
    print(x)

0
1
2
3
4
5
7

In [56]:
#if elif else statement with for
for x in range(10):
    if x == 6:
        continue
    elif x < 8:
        print(x)
    else:
        break

0
1
2
3
4
5
7

In [57]:
#While
count = 1
while count < 7:
    print(count)
    count+=1

1
2
3
4
5
6

In [58]:
#while with break and if statement
count = 1
while count < 10:
    if count == 6:
        break
    print(count)
    count+=1

1
2
3
4
5

In [59]:
#while with if elif else break continue statements
count = 1
while count < 10:
    if count == 6:
      continue
    elif count > 10:
          print(count)
    else:
        break
    count+=1

## Structure data types

### List

In [60]:
mylist = [1,2,3,4,5,6]
mylist

[1, 2, 3, 4, 5, 6]

In [61]:
mydata = ['Muhamad Rizki Arif Fadillah',24,'Purwakarta',True]
mydata

['Muhamad Rizki Arif Fadillah', 24, 'Purwakarta', True]

In [62]:
#Accessing data
mydata[1]

24

In [63]:
#Negative indexing
mydata[-2]

'Purwakarta'

In [64]:
#slicing index
mydata[:2]

['Muhamad Rizki Arif Fadillah', 24]

In [65]:
mydata[::2]

['Muhamad Rizki Arif Fadillah', 'Purwakarta']

In [66]:
#Changing values in list
mydata[0]='Kibo'
mydata

['Kibo', 24, 'Purwakarta', True]

In [67]:
mydata[:2] = ['Muhamad Rizki Arif Fadillah',23]
mydata

['Muhamad Rizki Arif Fadillah', 23, 'Purwakarta', True]

In [68]:
mydata.append('Kibo')
mydata

['Muhamad Rizki Arif Fadillah', 23, 'Purwakarta', True, 'Kibo']

In [69]:
mydata.insert(3,'Desember')
mydata

['Muhamad Rizki Arif Fadillah', 23, 'Purwakarta', 'Desember', True, 'Kibo']

In [70]:
mydata.extend(mylist)
mydata

['Muhamad Rizki Arif Fadillah',
 23,
 'Purwakarta',
 'Desember',
 True,
 'Kibo',
 1,
 2,
 3,
 4,
 5,
 6]

In [71]:
mydata.remove(6)
mydata

['Muhamad Rizki Arif Fadillah',
 23,
 'Purwakarta',
 'Desember',
 True,
 'Kibo',
 1,
 2,
 3,
 4,
 5]

In [72]:
mydata.pop(7)
mydata

['Muhamad Rizki Arif Fadillah',
 23,
 'Purwakarta',
 'Desember',
 True,
 'Kibo',
 1,
 3,
 4,
 5]

In [78]:
#shortlist
mylist = mylist[::-1]
mylist

[6, 5, 4, 3, 2, 1]

In [80]:
mylist.sort()
mylist

[1, 2, 3, 4, 5, 6]

## List comprehension
`newlist = [expression for item in iterable if condition == True]`

In [73]:
lc = [x for x in range(6) if x % 2 == 1]
lc

[1, 3, 5]

## Tuples

In [81]:
mytuples = (4,5,6,3,1,9,8)
mytuples

(4, 5, 6, 3, 1, 9, 8)

In [82]:
mytuples[1]

5

In [83]:
mytuples[:3]

(4, 5, 6)

In [1]:
tuplesdata = ('Muhamad Rizki Arif Fadillah',25,'Purwakarta',28)
tuplesdata

('Muhamad Rizki Arif Fadillah', 25, 'Purwakarta', 28)

In [3]:
x = ('I\'m a handsome boy',) # using come after value to make python understand about the variable type data
tuplesdata += x
tuplesdata

('Muhamad Rizki Arif Fadillah', 25, 'Purwakarta', 28, "I'm a handsome boy")

**Using asterik**

In [6]:
(x,y,*z) = tuplesdata
x,y,z

('Muhamad Rizki Arif Fadillah', 25, ['Purwakarta', 28, "I'm a handsome boy"])

#### Looping in tuple

In [7]:
for x in range(tuplesdata):
    print(x)

TypeError: 'tuple' object cannot be interpreted as an integer